.about {
    width: 100%;
    height: 100%;

    @media screen and (max-width: 768px) {
        padding-top: 3rem;
    }

    .about__inner {
        max-width: 900px;
        width: 100%;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
        margin: auto;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        .title__wrap {
            padding-bottom: 2rem;
            text-align: right;

            @media screen and (max-width: 768px) {
                text-align: left;
            }
        }

        .about__left {
            text-align: right;
            font-size: 2.25rem;
            font-weight: bold;

            @media screen and (max-width: 768px) {
                text-align: left;
            }
        }

        .social__icons {
            display: none;
            margin-top: 1rem;
            gap: 2rem;

            @media screen and (max-width: 768px) {
                display: flex;
                align-items: center;
                text-align: left;
            }

            li {
                width: 120px;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: space-between;
                    padding: 0.5rem;
                    color: #fff;
                    cursor: pointer;
                    &.resume {
                        background: #565f69;
                    }
    
                    &.mail {
                        background: #6fc2b0;
                    }
                    
                }
            }
        }
    }
}