:root {
  --primaryColor: #007bff;
  --primaryColorLight: #057fff;
  --secondaryColor: #ff7675;
  --backgroundDarkColor: #f1f1f1;
  --backgroundDarkGrey: #e4e4e4;
  --borderColor: #cbced8;
  --backgroundLightColor: #f1f1f1;
  --backgroundLightColor2: rgba(3, 127, 255, 0.3);
  --whiteColor: #151515;
  --fontLightColor: #313131;
  --fontDarkColor: #313131;
  --fontDarkColor2: #151515;
  --sidebarDarkColor: #e4e4e4;
  --scrollbarBgColor: #383838;
  --scrollbarThumbColor: #6b6b6b;
  --scrollbarTrackColor: #383838;
}

.light-theme {
  --primaryColor: #007bff;
  --primaryColorLight: #057fff;
  --secondaryColor: #ff7675;
  --backgroundDarkColor: #f1f1f1;
  --backgroundDarkGrey: #e4e4e4;
  --borderColor: #cbced8;
  --backgroundLightColor: #f1f1f1;
  --backgroundLightColor2: rgba(3, 127, 255, 0.3);
  --whiteColor: #151515;
  --fontLightColor: #313131;
  --fontDarkColor: #313131;
  --fontDarkColor2: #151515;
  --sidebarDarkColor: #e4e4e4;
  --scrollbarBgColor: #383838;
  --scrollbarThumbColor: #6b6b6b;
  --scrollbarTrackColor: #383838;
  --skeleton1: #cfcdcd;
  --skeleton2: #fcfcfc;
  --titleColor: rgba(141, 144, 153, 0.15);
}

.dark-theme {
  --primaryColor: #007bff;
  --primaryColorLight: #057fff;
  --secondaryColor: #ff7675;
  --backgroundDarkColor: #10121a;
  --backgroundDarkGrey: #20232d;
  --borderColor: #1c1f2b;
  --backgroundLightColor: #10121a;
  --backgroundLightColor2: rgba(3, 127, 255, 0.3);
  --whiteColor: #f1f1f1;
  --fontLightColor: #a4acc4;
  --fontDarkColor: #f1f1f1;
  --fontDarkColor2: #e4e4e4;
  --sidebarDarkColor: #20232d;
  --scrollbarBgColor: #383838;
  --scrollbarThumbColor: #6b6b6b;
  --scrollbarTrackColor: #383838;
  --skeleton1: #333;
  --skeleton2: #444;
  --titleColor: rgba(25, 29, 43, 0.3);
}