.sidebar {
    width: 250px;
    height: 100%;
    background: var(--backgroundDarkGrey);
    position: fixed;
    transition: all 0.3s ease-in-out;
    
    @media screen and (max-width: 768px) {
        transform: translateX(-120%);
        z-index: 20;
    }
    
    &.show {
        transform: translateX(0);
        z-index: 20;
        @media screen and (max-width: 768px) {
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.3);
        }
    }


    .menuClose__btn {
        position: absolute;
        right: -2.6rem;
        top: 0;
        display: none;
        background-color: var(--backgroundDarkGrey);
        margin-top: 0.5rem;
        padding: 0.4rem;
        border: 1px solid var(--borderColor);
        cursor: pointer;
        color: var(--whiteColor);
        @media screen and (max-width: 768px) {
            display: flex;
        }
    }

    nav {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-right: 1px solid var(--borderColor);
        overflow: hidden;

        .avatar__wrap {
            width: 100%;
            border-bottom: 1px solid var(--borderColor);
            text-align: center;
            padding: 1rem;
            font-weight: bold;
            font-size: 2rem;

            img {
                width: 70%;
                border: 6px solid var(--borderColor);
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .navlinks {
            width: 100%;
            text-align: center;
            list-style: none;

            li {
                display: block;

                a {
                    display: block;
                    padding: 0.5rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    text-decoration: none;
                    letter-spacing: 1px;
                    transition: all 0.3s ease-in-out;
                    position: relative;
                    z-index: 10;
                    color: inherit;

                    &.active {
                        background: var(--primaryColorLight);
                        color: #fff;
                        transition: all 0.3s ease-in-out;
                    }

                    &:hover {
                        color: var(--whiteColor);
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0;
                        height: 50%;
                        background: var(--primaryColor);
                        transition: all 0.3s cubic-bezier(1, -0.2, 0.25, 0.95);
                        opacity: 0.21;
                        z-index: -1;
                    }
                }

                a:hover::before {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        footer {
            width: 100%;
            border-top: 1px solid var(--borderColor);

            span {
                padding: 1.3rem 0;
                display: block;
                text-align: center;
                font-size: 12px;
            }
        }
    }
}