* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    color: #a4acc4;
    transition: all 0.4s ease;
    background: #10121a;

    .app__container {
        display: flex;
        width: 100%;
        height: 100vh;
        position: relative;

        .menu__btn {
            position: absolute;
            right: 0;
            top: 0;
            margin: 2rem;
            z-index: 20;
            display: none;

            svg {
                cursor: pointer;
            }

            @media screen and (max-width: 768px) {
                display: block;
            }
        }

        .main__content {
            margin-left: 250px;
            width: 100%;

            @media screen and (max-width: 768px) {
                margin-left: 0;
            }

            .main__layout {
                padding: 5rem;

                @media screen and (max-width: 768px) {
                    padding: 2rem;
                }
            }

            .inner__layout {
                padding: 5rem 0;

                @media screen and (max-width: 768px) {
                    padding: 2.5rem 0;
                }
            }
        }
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
    background: transparent;
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #6b6b6b;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}